<div class= "container">
<div class="item">
<%= cl_image_tag @cocktail.photo.url(:standard)%>
<h1><%= @cocktail.name %></h1>
</div>
<div class= "item">
<% @cocktail.doses.each do |dose| %>
	<h3>Description: </h3><%= dose.description %>
	<h3>Ingredient name: </h3><%= dose.ingredient.name%>
	<br><br>
	<%= link_to 'Back', cocktails_path%> 
</div>
<%end %>
</div>